<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div th:fragment="menu(allMenus)">
    <section id="accordion" class="col-12">
        <div th:each="menu : ${allMenus}">
            <div class="card">
                <div class="card-header" th:id="${menu.name} + 'Heading'">
                    <h5 class="menu-title mb-0">
                        <a class="collapsed" role="button" th:text="${menu.name}" th:href="'#' + ${menu.name}+'Collapse'"
                           data-toggle="collapse" aria-expanded="false"
                           th:attr="aria-controls=${menu.name}+'Collapse', data-target='#' + ${menu.name} + 'Collapse'">
                        </a>
                    </h5>
                </div>
            </div>
            <div th:id="${menu.name} + 'Collapse'" class="collapse in" role="tabpanel"
                 th:attr="aria-labelledby=${menu.name}+'Heading'" data-parent="#accordion">
                <div class="card-body">
                    <div th:each="product : ${menu.productList}">
                        <div class="list-group">
                            <a data-toggle="modal" th:href="'#' + ${product.name} + 'MenuModal'"
                               class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${product.name}"></h5>
                                    <small th:text="${product.price} + '$'"></small>
                                </div>
                                <p class=" d-none d-sm-block mb-1" th:text="${product.description}"></p>
                                <small class="text-muted">Click to Order</small>
                            </a>
                        </div>
                        <div th:replace="/fragment/menu-product-modal :: productModal(product=${product})"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- accordion -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>