<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="cart">
    <div class="card">
        <h5 class="card-header text-center">Shopping Cart</h5>
        <div class="card-body">
            <div>
                <div class="col-12">
                    <div class="text-center">
                        Your cart is empty
                        <br /><br />
                        <img th:src="@{/img/iconic/png/cart-6x.png}" class="img-fluid" alt="Cart" />
                    </div>
                </div>
            </div>
            <!-- <form action="/checkout">
                <input type="submit" class="btn-block btn-success" value="PROCEED TO CHECKOUT" />
            </form> -->
            <!-- <button type="button" class="btn-block btn-success">PROCEED TO CHECKOUT</button> -->
        </div>
    </div>
</div>
</body>
</html>