<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div th:fragment="cart(shoppingCart)">
    <!-- --------------------------------------------------------------------------->
    <div class="card">
        <h5 class="card-header text-center">Your Cart</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-mute">Qty</th>
                        <th class="text-mute">Item</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${shoppingCart.selectedProducts}">
                        <td>
                            <span class="badge badge-secondary badge-pill" th:text="${product.quantity}"></span>
                        </td>
                        <td>
                            <a data-toggle="modal" th:href="'#' + ${product.name} + 'CartModal'" th:text="${product.name}"></a>
                        </td>
                        <td class="text-center">
                            <strong th:text="${product.price} + '$'"></strong>
                        </td>
                        <td>
                            <a th:href="@{|/removeItem?code=${product.id}|}">
                                <img th:src="@{/img/iconic/png/circle-x-2x.png}" alt="Delete" />
                            </a>
                        </td>
                        <div th:replace="/fragment/cart-product-modal :: productModal(product=${product})"></div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer bg-light">
            <h6 class="text-center">Total</h6>
            <h5 class="text-center" th:text="${shoppingCart.totalPrice} + '$'"></h5>
        </div>
        <div class="card-footer bg-info">
            <a class="btn btn-block btn-info" href="/checkout"> PROCEED TO CHECKOUT </a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>