<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div th:fragment="productModal(product)">
    <div class="modal fade" th:id="${product.name} + 'CartModalDummy'" tabindex="-1" role="dialog"
         data-th-attr="aria-labelledby=${product.name}+'CartModalLabelDummy'" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${product.name} + 'CartModalLabelDummy'" th:text="${product.name}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" th:action="@{/editItem}">
                    <input type="hidden" name="productID" th:value="${product.id}" />
                    <div class="modal-body">
                        <div class="card-body">
                            <div th:each="topping : ${product.toppings}">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <div th:if="${not #lists.isEmpty(product.selectedToppings)}">
                                        <input type="checkbox" class="custom-control-input" th:id="${topping} + ${product.id}"
                                               th:checked="${#lists.contains(product.selectedToppings, topping)}"
                                               name="checkedToppings" th:value="${topping}" />
                                        <label class="custom-control-label" th:for="${topping} + ${product.id}" th:text="${topping}"></label>
                                    </div>
                                    <div th:if="${#lists.isEmpty(product.selectedToppings)}">
                                        <input type="checkbox" class="custom-control-input" th:id="${topping} + ${product.id}"
                                               name="checkedToppings" th:value="${topping}" />
                                        <label class="custom-control-label" th:for="${topping} + ${product.id}" th:text="${topping}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productQuantity">Quantity</label>
                                <input type="number" th:value="${product.quantity}" class="form-control" id="productQuantity"
                                       name="productQuantity" placeholder="1" min="1"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-block btn-success">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>