<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="cart-checkout(bucket)">
    <!-- --------------------------------------------------------------------------->
    <div class="card">
        <h5 class="card-header text-center">Your Cart</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-mute">Qty</th>
                        <th class="text-mute">Item</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry, iter : ${bucket.entries}">
                        <td>
                            <span class="badge badge-secondary badge-pill" th:text="${entry.quantity}"></span>
                        </td>
                        <td>
                            <div th:text="${entry.item.name}"></div>
                        </td>
                        <td class="text-center">
                            <strong th:text="${entry.item.totalCost} + '$'"></strong>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer bg-light">
            <h6 class="text-center">Total</h6>
            <h5 class="text-center" th:text="${bucket.totalCost} + '$'"></h5>
        </div>
    </div>
</div>
</body>
</html>