<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="modifiersForm">
    <form method="post" th:object="${currentItem}" th:action="@{/add}">
        <input type="hidden" name="itemId" th:value="${currentItem.id}" />
        <div class="container">
            <div class="card">
                <div class="card-header" th:text="${currentItem.name}">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <!--<label for="itemQuantity">Quantity</label>-->
                                <!--<input type="number" class="form-control" id="itemQuantity" name="itemQuantity"-->
                                <!--placeholder="1" min="1" value="1" />-->
                                <label class="my-1 mr-2" th:for="${currentItem.id}+'quantity'">Quantity</label>
                                <select class="custom-select my-1 mr-sm-2" th:id="${currentItem.id}+'quantity'" name="itemQuantity">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <!--<label for="itemQuantity">Quantity</label>-->
                                <!--<input type="number" class="form-control" id="itemQuantity" name="itemQuantity"-->
                                <!--placeholder="1" min="1" value="1" />-->
                                <label class="my-1 mr-2" th:for="${currentItem.id} + 'size'">Size</label>
                                <select class="custom-select my-1 mr-sm-2" th:id="${currentItem.id} + 'size'"
                                        name="itemSize" th:disabled="${#lists.isEmpty(currentItem.allSizes)}? true : false">
                                    <option th:each="size : ${currentItem.allSizes}" th:selected="${size.selected}"
                                            th:value="${size.name}" th:text="${size.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div th:if="${not #lists.isEmpty(currentItem.modifiers)}">
                            <div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <li th:each="modifier, i : ${currentItem.modifiers}" class="nav-item">
                                        <a th:href="'#tab-' + ${i.index} + ${#strings.replace(modifier.name,' ','')}"
                                           th:attr="aria-controls='tab-' + ${i.index} + ${#strings.replace(modifier.name,' ','')}, aria-selected=${i.first} ? true : false"
                                           th:id="'nav-' + ${i.index} + ${#strings.replace(currentItem.name,' ','')}  + '-tab'"
                                           class="nav-link" th:classappend="${i.first} ? 'active'"
                                           role="tab" data-toggle="tab" th:text="${modifier.name}">
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content pre-scrollable" id="nav-tabContent">
                                    <div th:each="modifier, i : ${currentItem.modifiers}" role="tabpanel" class="tab-pane fade"
                                         th:classappend="${i.first} ? 'show active'" th:id="'tab-' + ${i.index} + ${#strings.replace(modifier.name,' ','')}"
                                         th:attr="aria-labelledby='nav-' + ${i.index} + ${#strings.replace(currentItem.name,' ','')}  + '-tab'">
                                        <div th:each="entry, j : ${modifier.entries}" class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input type="hidden" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].name}"
                                                   th:value="${entry.name}"
                                            >
                                            <input type="checkbox" name="modifiers" class="custom-control-input"
                                                   th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].selected}"
                                            >
                                            <label class="custom-control-label toggle-qualifiers" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.selected1'">
                                                <b th:text="${entry.name}"></b>
                                            </label>
                                            <div class="reveal-if-active">
                                                <div class="row">
                                                    <div class="col" th:if="${modifier.halfEnabled} == true">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].halfOption}" th:value="Full">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.halfOption1'">Full</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].halfOption}" th:value="'F1/2'">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.halfOption2'">1st Half</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].halfOption}" th:value="'S1/2'">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.halfOption3'">2nd Half</label>
                                                        </div>
                                                    </div>
                                                    <div class="col" th:if="${modifier.qualifiersEnabled == true}">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].qualifier}" th:value="Lite" class="custom-control-input">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.qualifier1'">Lite</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].qualifier}" th:value="Extra" class="custom-control-input">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.qualifier2'">Extra</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" th:field="*{modifiers[__${i.index}__].entries[__${j.index}__].qualifier}" th:value="OnSide" class="custom-control-input">
                                                            <label class="custom-control-label" th:for="'modifiers' + ${i.index} + '.entries' + ${j.index} + '.qualifier3'">OnSide</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-block btn-light">Reset</button>
                    <button type="submit" class="btn btn-block btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
