.scrollable
{
    height: 18rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

body
{
    padding-top: 54px;
}

.pre-scrollable
{
    max-height: 500px;
    overflow-y:auto;
    overflow-x: hidden;
    direction: rtl;
}

.tab-pane
{
    direction: ltr;
}