<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MENU</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="container bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home">Smart Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link active" href="/menu">Order Online<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link disabled">About</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="nav-item text-white">Delivery Active Hours: 12:00 - 00:00</div>
            </div>
        </div>
    </nav>
    <div class="jumbotron bg-light" style="min-height: 100vh">
        <div class="row">
            <main class="col-md-8 col-12">
                <hr />
                <h1 class="h4 justify-content-center">MENU</h1>
                <hr />
                <section id="accordion" class="col-12" th:each="menu : ${allMenus}">
                    <div class="card">
                        <div class="card-header" th:id="${menu.name} + 'Heading'">
                            <h5 class="mb-0">
                                <button class="btn btn-block btn-info" data-toggle="collapse"
                                        th:attr="data-target='#' + ${menu.name} + 'Collapse'"
                                        aria-expanded="true" data-th-attr="aria-controls=${menu.name}+'Collapse'">
                                    <h1 class="h5" th:text="${menu.name}"></h1>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div th:id="${menu.name} + 'Collapse'" class="collapse"
                         data-th-attr="aria-labelledby=${menu.name}+'Heading'" data-parent="#accordion">
                        <div class="card-body">
                            <div th:each="product : ${menu.productList}">
                                <div class="list-group">
                                    <a data-toggle="modal" th:href="'#' + ${product.name} + 'Modal'"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1" th:text="${product.name}"></h5>
                                            <small th:text="${product.price} + '$'"></small>
                                        </div>
                                        <p class=" d-none d-sm-block mb-1" th:text="${product.description}"></p>
                                        <small class="text-muted">Additional Comments.</small>
                                    </a>
                                </div>
                                <div th:replace="/fragment/product-modal :: productModal(product=${product})"></div>
                            </div>
                        </div>
                    </div>
                </section> <!-- accordion -->

                <div th:replace="/fragment/cart-modal :: cartModal(bucket=${bucket}, totalItems=${totalItems})">
                </div>

            </main>
            <aside class="col-md-4">
                <div class="d-none d-md-block">
                    <div th:replace="/fragment/cart :: cart(bucket=${bucket}, totalItems=${totalItems})">
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
    <div class="row d-md-none d-block" th:switch="${totalItems}">
        <div class="col-12 fixed-bottom">
        <button th:case="0" type="button" class="btn-block btn-muted" disabled="true">
            <img th:src="@{/img/iconic/png/cart-8x.png}" class="img-fluid" alt="Shopping Cart" />

        </button>
        <!--<button th:case="1" type="button" class="btn-block" onclick="location.href='/bucket.html'" >
            <b>PROCEED TO CHECKOUT</b>
            <br />
            <i><span>1 item in bucket</span></i>
        </button>-->
        <button th:case="*" type="button" class="btn-block btn-success" data-toggle="modal" data-target="#bucketModal">
            <img th:src="@{/img/iconic/png/cart-8x.png}" class="img-fluid" alt="Shopping Cart">
                <span class="badge badge-info">
                    <b th:text="${totalItems}"></b>
                </span>
            </img>
        </button>
        </div>
    </div>
</div>
<!-- <script th:src="@{/js/items_counter.js}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>